.navbar-item .buttons .button {
    text-shadow: 1px 1px 1rem #ffffff;
    box-shadow: 0 0 1rem #ffffff;
    animation: navbtnEffect 5s infinite;
}

@keyframes navbtnEffect {
    0% {
      box-shadow: 0 0 1rem #ffffff;
    }
    50% {
      box-shadow: 0 0 0.7rem purple;
      text-shadow: 1px 1px 1rem #00ffa6;
    }
    100% {
        box-shadow: 0 0 1rem #ffffff;
    }
  }

@keyframes gamenavbtnEffect {
    0% {
      box-shadow: 0 0 2rem #00ff00;
      border: 1px solid rgb(255, 0, 255);
    }
    25% {
      box-shadow: 0 0 2rem rgb(255, 0, 255);
      text-shadow: 0 2 2rem #0033ff;
    }
    50% {
      box-shadow: 0 0 2rem rgb(0, 51, 255);
      text-shadow: 0 0 1rem #ff00d4;
      border: 1px solid #ffffff;
    }
    75% {
      box-shadow: 0 0 2rem rgb(255, 252, 75);
      text-shadow: 2 0 2rem #ff0015;
    }
    100% {
      box-shadow: 0 0 2rem #00ff00;
      border: 1px solid rgb(255, 0, 255);
    }
  }

img.round {
    border-radius: 1rem;
}

img.maps {
    box-shadow: 1px 1px 10rem #6450DC;
    border: 3px #ab9cff solid;
}

.section h1.title {
    color: #e6ffe2;
    text-shadow: 1px 1px 0.7rem #f700ff;
}

.content {
    color: #eeefff;
    text-shadow: 1px 1px 1rem #6450DC;
}

.theme-white .content {
    color: #223322;
}

.index.content a {
    color: #ebecf6;
    text-shadow: 1px 1px 1rem #57ff3e;
    background-color: transparent;
}

.index.content a:hover {
    color: #ffaae4;
    text-shadow: 1px 1px 1rem #e6ffe2;
}

.index.content a.is-outlinedhover {
    border-width: 2.41px;
}

.igame a.button {
    box-shadow: 0 0 1rem #00ff00;
    text-shadow: 0 0 1rem #00ff00;
    animation: gamenavbtnEffect 2s infinite;
}

.perfer a {
    text-shadow: 0 0 0.1rem #00ff00;
    color: #ffffff;
}

.perfer a:hover {
    text-shadow: 0 0 1rem #ff0000;
}

.section.music .columns .column img {
    border-radius: 0.3rem;
    border: 1px #e59cff solid;
    box-shadow: 1px 1px 5rem #6450DC;
}

.section.techtalk .content p span.tag {
    box-shadow: 1px 1px 5rem #6450DC;
    border: 1px #6450DC solid;
}

@keyframes logo-shadow {
    0% {
        box-shadow: 1px 1px 1rem #6450DC;
        border: 1px #ab50dc solid;
    }
    25% {
        box-shadow: 6px 4px 3rem #dc50d5;
    }
    50% {
        box-shadow: 5px 5px 5rem #6450DC;
        border: 1px #6450DC solid;
    }
    75% {
        box-shadow: 4px 6px 3rem #ab50dc;
    }
    100% {
        box-shadow: 1px 1px 1rem #6450DC;
        border: 1px #ab50dc solid;
    }
 }

.theme-white .footer {
    background-color: #ffffff;
}

.theme-white .columns .column p a {
    font-size: 1.2rem;
}

.footer .content p img.logo {
    width: 150px;
    border-radius: 0.5rem;
    border: 1px #6550dc25 solid;
    animation: logo-shadow ease-in-out 3600ms infinite;
}

.footer .content p {
    font-size: smaller;
    text-shadow: 1px 1px 5rem #6450DC;
}

.booth-recruit details summary {
    padding-bottom: 15px;
    cursor: pointer !important;
}


.booth-recruit details div {
    padding-left: 18px;
    padding-bottom: 18px;
}

.booth-recruit h2 {
    color: #D0C9FF;
}
.booth-recruit h3 {
    text-shadow: 0 0 1rem #00ff00;
}

.booth-recruit .card {
    box-shadow: 0 0 15px #ff73ff;
    color: #fdfdff;
    text-shadow: 1px 1px 1rem #6450DC;
}

.booth-recruit .card a {
    color: #00ff00;
}

.booth-recruit .card a:hover {
    text-shadow: 0 0 15px #00ff00;
}

.booth-recruit .card .tag.is-warning {
    box-shadow: 0 0 20px #f9b316;
}

.footer .cologo {
    height: 40px;
}

.footer .section p span.tag {
    font-size: larger;
}

.footer .section p span.tag.is-link {
    box-shadow: 0 0 1rem #6450DC;
    border: 1px #6450DC solid;
}

.footer .section p span.tag.is-success {
    box-shadow: 0 0 1rem #05a076;
    border: 1px #05a076 solid;
}

.footer .section p span.tag.is-warning {
    box-shadow: 0 0 1rem #a09b05;
    border: 1px #a09b05 solid;
}