<!DOCTYPE html>
<html class="theme-dark has-navbar-fixed-top" lang="zh-Hant">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>
      全新專輯《時間浸漬 Bioerosion》林強 與 Luca Bonaccorsi 開源電子音樂專輯 |
      財團法人開放文化基金會 (Open Culture Foundation, OCF)
    </title>
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://10years.ocf.tw/bioerosion.html" />
    <meta
      name="description"
      content="林強最開放的電子音樂專輯，基于「開放」與「分享」兩大核心理念所創作的全新專輯《時間浸漬 Bioerosion》。這張專輯是他繼 2005 年《驚蟄》之後，時隔 19 年再次在台灣推出的電子音樂作品，整張專輯是以環境音樂（Ambient Music）為基底，探索當代電子音樂的全新聲景、音畫，同時，也展現出林強對當代文化的深度思考，反映出他對網路自由與知識共享的最新看法。林強長期以來支持「台灣創用CC計劃」（Creative Commons Taiwan），他堅信知識和創作的自由流通是創意的源泉。因此，在這次「開源祭」中，他將《時間浸漬 BIOEROSION》以創用 CC 授權的方式，在 OCF 官網上免費開放下載，體現林強對創作自由和知識共享的承諾，也與 OCF 推動開放文化和數位公民社會的使命完美契合。"
    />
    <meta
      property="og:description"
      content="林強最開放的電子音樂專輯，基于「開放」與「分享」兩大核心理念所創作的全新專輯《時間浸漬 Bioerosion》。這張專輯是他繼 2005 年《驚蟄》之後，時隔 19 年再次在台灣推出的電子音樂作品，整張專輯是以環境音樂（Ambient Music）為基底，探索當代電子音樂的全新聲景、音畫，同時，也展現出林強對當代文化的深度思考，反映出他對網路自由與知識共享的最新看法。林強長期以來支持「台灣創用CC計劃」（Creative Commons Taiwan），他堅信知識和創作的自由流通是創意的源泉。因此，在這次「開源祭」中，他將《時間浸漬 BIOEROSION》以創用 CC 授權的方式，在 OCF 官網上免費開放下載，體現林強對創作自由和知識共享的承諾，也與 OCF 推動開放文化和數位公民社會的使命完美契合。"
    />
    <meta
      name="twitter:description"
      content="林強最開放的電子音樂專輯，基于「開放」與「分享」兩大核心理念所創作的全新專輯《時間浸漬 Bioerosion》。這張專輯是他繼 2005 年《驚蟄》之後，時隔 19 年再次在台灣推出的電子音樂作品，整張專輯是以環境音樂（Ambient Music）為基底，探索當代電子音樂的全新聲景、音畫，同時，也展現出林強對當代文化的深度思考，反映出他對網路自由與知識共享的最新看法。林強長期以來支持「台灣創用CC計劃」（Creative Commons Taiwan），他堅信知識和創作的自由流通是創意的源泉。因此，在這次「開源祭」中，他將《時間浸漬 BIOEROSION》以創用 CC 授權的方式，在 OCF 官網上免費開放下載，體現林強對創作自由和知識共享的承諾，也與 OCF 推動開放文化和數位公民社會的使命完美契合。"
    />
    <meta
      property="og:image"
      content="https://10years.ocf.tw/img/bioerosion.webp"
    />
    <meta
      name="twitter:image"
      content="https://10years.ocf.tw/img/bioerosion.webp"
    />
    <meta property="twitter:card" content="summary_large_image" />
    <meta
      property="og:title"
      content="全新專輯《時間浸漬 Bioerosion》林強 與 Luca Bonaccorsi 開源電子音樂專輯 | 財團法人開放文化基金會 (OCF)"
    />
    <meta
      name="twitter:title"
      content="全新專輯《時間浸漬 Bioerosion》林強 與 Luca Bonaccorsi 開源電子音樂專輯 | 財團法人開放文化基金會 (OCF)"
    />
    <link rel="icon" type="image/svg+xml" href="/img/ocf.png" />
    <link rel="stylesheet" href="/css/bulma.min.css" />
    <link rel="stylesheet" href="/fa/css/all.min.css" />
    <link rel="stylesheet" href="/css/all.css" />
    <style>
      :root {
        --bulma-navbar-height: 0;
      }
      :root .section {
        --bulma-section-padding: 0 1.5rem !important;
        --bulma-section-padding-desktop: 1.5rem 3rem !important;
      }
      [v-cloak] {
        display: none;
      }
      .track {
        color: #ffffff;
        border: 1px #ffffff solid;
        border-radius: 7px;
        margin-bottom: 10px !important;
      }
      .track .column {
        align-content: center;
      }
      .track:hover {
        box-shadow: 0 0 3rem rgba(255, 255, 255, 0.5);
        border-color: rgb(0, 255, 170);
      }
      .track:nth-child(odd) {
        background-color: #000000;
      }
      .track:nth-child(even) {
        background-color: #282828;
      }
      .albumcover img {
        border-radius: 7px;
        box-shadow: 0 0 1rem rgb(109, 136, 134);
      }
      .desc_content {
        color: #ffffff;
        box-shadow: 0 0 1rem rgba(255, 255, 255, 0.5);
        padding: 20px;
        border-radius: 7px;
        background-color: 0 0 1rem rgba(255, 255, 255, 0.5);
      }
      .desc_content a {
        color: #bbc3ff;
      }
      .desc_content ol {
        margin-left: 2rem;
      }
      .desc_content details {
        cursor: pointer !important;
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
    <div class="bg"></div>
    <div id="player"></div>
    <div class="desc">
      <div class="section">
        <div class="columns">
          <div class="column is-3"></div>
          <div id="app" class="colunm is-6 descarea">
            <div
              class="box"
              style="margin-bottom: 10px; font-size: small; color: #ffffff"
            >
              <p style="text-align: center; margin-bottom: 10px">
                《時間浸漬 Bioerosion》專輯曲目、專輯封面採用<strong
                  >創用 CC 姓名標示（CC-BY 4.0）</strong
                >
                方式授權提供。<br /><a
                  href="https://zh.wikipedia.org/zh-tw/%E7%9F%A5%E8%AF%86%E5%85%B1%E4%BA%AB%E8%AE%B8%E5%8F%AF%E5%8D%8F%E8%AE%AE"
                  ><img src="./img/CC_BY_icon.svg"
                /></a>
              </p>
              <p style="margin-bottom: 10px">
                如欲使用本專輯的音樂或視聽作品，及其多媒體素材，包含商業用途，請標示以下文字，即可合法使用本專輯內容，無需另行取得發行者或創作者的許可：
                <strong
                  >《時間浸漬
                  Bioerosion》，由財團法人開放文化基金會發行，林強編曲，與 Luca
                  Bonaccorsi 共同構思創作，於 2024 年 9 月發行，採用 CC BY 4.0
                  授權條款。
                  <span class="icon"
                    ><i class="fab fa-creative-commons"></i>
                    <i class="fab fa-creative-commons-by"></i></span
                ></strong>
              </p>
              <p style="margin-bottom: 10px">
                To lawfully use the music or audiovisual works from this album,
                as well as its multimedia materials, including for commercial
                purposes, please include the following attribution:
                <strong
                  >“時間浸漬 Bioerosion, composed by Lim Giong, conceptually
                  developed by Lim Giong and Luca Bonaccorsi, released by the
                  Open Culture Foundation in September 2024, licensed under CC
                  BY 4.0.
                  <span class="icon"
                    ><i class="fab fa-creative-commons"></i>
                    <i class="fab fa-creative-commons-by"></i></span
                  >”</strong
                >
              </p>
              <p>
                No additional permission from the publisher or creators is
                required.
              </p>
            </div>

            <div>
              <figure class="image albumcover">
                <img src="./img/album-cover.webp" />
              </figure>
            </div>
            <div class="desc_content" style="margin: 12px auto">
              <p style="margin-bottom: 10px">
                開放文化基金會（Open Culture Foundation,
                OCF）成立十週年，策劃以科技跨界為主題的盛典「開源祭」，邀請多位知名音樂人及科技領域專家共同歡慶，探索未來科技與創意的無限可能。林強與義大利藝術家
                Luca
                Bonaccorsi，推出基於「開放」與「分享」兩大核心理念所創作的全新專輯<strong
                  >《時間浸漬 Bioerosion》</strong
                >，展現音樂及視覺藝術的創新融合。
              </p>
              <p>
                此專輯為林強繼 2005 年《驚蟄》之後，時隔 19
                年再次在臺灣推出的電子音樂作品。整張專輯採用 CC-BY 4.0
                授權方式發布，鼓勵民眾以此為素材進行二次創作。
              </p>
            </div>
            <div style="text-align: center; margin-bottom: 10px">
              <span class="icon" style="color: #ffffff"
                ><i class="fas fa-music" style="margin-right: 5px"></i>
                <i
                  class="fab fa-creative-commons"
                  style="margin-right: 5px"
                ></i>
                <i class="fab fa-creative-commons-by"></i
              ></span>
            </div>
            <div class="box track" v-cloak>
              <div class="columns">
                <div class="column is-7">
                  <p>
                    <strong>1.</strong> 破裂水泥牆的植物 / plants breaking
                    through concrete
                  </p>
                  <p>05:04 <small>(2304 kbps / 48.00 kHz / 87.6 MB)</small></p>
                </div>
                <div class="column">
                  <div class="buttons is-right">
                    <a
                      href="./album/1. Plants breaking through concrete. 破裂水泥牆的植物.wav"
                      class="button is-rounded is-light is-outlined is-warning"
                      target="_blank"
                    >
                      <span class="icon-text">
                        <span class="icon"
                          ><i class="fas fa-download"></i
                        ></span>
                        <span>下載</span>
                      </span>
                    </a>
                    <a
                      v-if="tracks && (tracks[1].status == 'no')"
                      @click="play($event, 1)"
                      class="button is-rounded is-light is-outlined is-info"
                    >
                      <span class="icon-text">
                        <span class="icon"
                          ><i class="far fa-play-circle"></i
                        ></span>
                        <span>線上播放</span>
                      </span>
                    </a>
                    <a
                      v-show="tracks && (tracks[1].status == 'pause')"
                      @click="play($event, 1)"
                      class="button is-rounded is-light is-outlined is-info"
                    >
                      <span class="icon-text">
                        <span class="icon"
                          ><i class="far fa-play-circle"></i
                        ></span>
                        <span>播放</span>
                      </span>
                    </a>
                    <a
                      v-show="tracks && (tracks[1].status == 'play')"
                      @click="pause($event, 1)"
                      class="button is-rounded is-light is-outlined is-success"
                    >
                      <span class="icon-text">
                        <span class="icon"
                          ><i class="far fa-stop-circle"></i
                        ></span>
                        <span>暫停</span>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="box track" v-cloak>
              <div class="columns">
                <div class="column is-7">
                  <p><strong>2.</strong> 液態金屬 / liquid metal</p>
                  <p>04:57 <small>(2304 kbps / 48.00 kHz / 85.6 MB)</small></p>
                </div>
                <div class="column">
                  <div class="buttons is-right">
                    <a
                      href="./album/2. Liquid metal. 液態金屬.wav"
                      class="button is-rounded is-light is-outlined is-warning"
                      target="_blank"
                    >
                      <span class="icon-text">
                        <span class="icon"
                          ><i class="fas fa-download"></i
                        ></span>
                        <span>下載</span>
                      </span>
                    </a>
                    <a
                      v-if="tracks && (tracks[2].status == 'no')"
                      @click="play($event, 2)"
                      class="button is-rounded is-light is-outlined is-info"
                    >
                      <span class="icon-text">
                        <span class="icon"
                          ><i class="far fa-play-circle"></i
                        ></span>
                        <span>線上播放</span>
                      </span>
                    </a>
                    <a
                      v-show="tracks && (tracks[2].status == 'pause')"
                      @click="play($event, 2)"
                      class="button is-rounded is-light is-outlined is-info"
                    >
                      <span class="icon-text">
                        <span class="icon"
                          ><i class="far fa-play-circle"></i
                        ></span>
                        <span>播放</span>
                      </span>
                    </a>
                    <a
                      v-show="tracks && (tracks[2].status == 'play')"
                      @click="pause($event, 2)"
                      class="button is-rounded is-light is-outlined is-success"
                    >
                      <span class="icon-text">
                        <span class="icon"
                          ><i class="far fa-stop-circle"></i
                        ></span>
                        <span>暫停</span>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="box track" v-cloak>
              <div class="columns">
                <div class="column">
                  <p><strong>3.</strong> 液壓 / hydraulics</p>
                  <p>05:00 <small>(2304 kbps / 48.00 kHz / 86.4 MB)</small></p>
                </div>
                <div class="column">
                  <div class="buttons is-right">
                    <a
                      href="./album/3. Hydraulics.液壓.wav"
                      class="button is-rounded is-light is-outlined is-warning"
                      target="_blank"
                    >
                      <span class="icon-text">
                        <span class="icon"
                          ><i class="fas fa-download"></i
                        ></span>
                        <span>下載</span>
                      </span>
                    </a>
                    <a
                      v-if="tracks && (tracks[3].status == 'no')"
                      @click="play($event, 3)"
                      class="button is-rounded is-light is-outlined is-info"
                    >
                      <span class="icon-text">
                        <span class="icon"
                          ><i class="far fa-play-circle"></i
                        ></span>
                        <span>線上播放</span>
                      </span>
                    </a>
                    <a
                      v-show="tracks && (tracks[3].status == 'pause')"
                      @click="play($event, 3)"
                      class="button is-rounded is-light is-outlined is-info"
                    >
                      <span class="icon-text">
                        <span class="icon"
                          ><i class="far fa-play-circle"></i
                        ></span>
                        <span>播放</span>
                      </span>
                    </a>
                    <a
                      v-show="tracks && (tracks[3].status == 'play')"
                      @click="pause($event, 3)"
                      class="button is-rounded is-light is-outlined is-success"
                    >
                      <span class="icon-text">
                        <span class="icon"
                          ><i class="far fa-stop-circle"></i
                        ></span>
                        <span>暫停</span>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="box track" v-cloak>
              <div class="columns">
                <div class="column">
                  <p><strong>4.</strong> 水分子 / OH－ H+</p>
                  <p>05:00 <small>(2304 kbps / 48.00 kHz / 86.4 MB)</small></p>
                </div>
                <div class="column">
                  <div class="buttons is-right">
                    <a
                      href="./album/4. OH－  H+.  水分子.wav"
                      class="button is-rounded is-light is-outlined is-warning"
                      target="_blank"
                    >
                      <span class="icon-text">
                        <span class="icon"
                          ><i class="fas fa-download"></i
                        ></span>
                        <span>下載</span>
                      </span>
                    </a>
                    <a
                      v-if="tracks && (tracks[4].status == 'no')"
                      @click="play($event, 4)"
                      class="button is-rounded is-light is-outlined is-info"
                    >
                      <span class="icon-text">
                        <span class="icon"
                          ><i class="far fa-play-circle"></i
                        ></span>
                        <span>線上播放</span>
                      </span>
                    </a>
                    <a
                      v-show="tracks && (tracks[4].status == 'pause')"
                      @click="play($event, 4)"
                      class="button is-rounded is-light is-outlined is-info"
                    >
                      <span class="icon-text">
                        <span class="icon"
                          ><i class="far fa-play-circle"></i
                        ></span>
                        <span>播放</span>
                      </span>
                    </a>
                    <a
                      v-show="tracks && (tracks[4].status == 'play')"
                      @click="pause($event, 4)"
                      class="button is-rounded is-light is-outlined is-success"
                    >
                      <span class="icon-text">
                        <span class="icon"
                          ><i class="far fa-stop-circle"></i
                        ></span>
                        <span>暫停</span>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="box track" v-cloak>
              <div class="columns">
                <div class="column">
                  <p><strong>5.</strong> 蒸氣機 / steam engine</p>
                  <p>05:00 <small>(2304 kbps / 48.00 kHz / 86.4 MB)</small></p>
                </div>
                <div class="column">
                  <div class="buttons is-right">
                    <a
                      href="./album/5. Steam engine. 蒸氣機.wav"
                      class="button is-rounded is-light is-outlined is-warning"
                      target="_blank"
                    >
                      <span class="icon-text">
                        <span class="icon"
                          ><i class="fas fa-download"></i
                        ></span>
                        <span>下載</span>
                      </span>
                    </a>
                    <a
                      v-if="tracks && (tracks[5].status == 'no')"
                      @click="play($event, 5)"
                      class="button is-rounded is-light is-outlined is-info"
                    >
                      <span class="icon-text">
                        <span class="icon"
                          ><i class="far fa-play-circle"></i
                        ></span>
                        <span>線上播放</span>
                      </span>
                    </a>
                    <a
                      v-show="tracks && (tracks[5].status == 'pause')"
                      @click="play($event, 5)"
                      class="button is-rounded is-light is-outlined is-info"
                    >
                      <span class="icon-text">
                        <span class="icon"
                          ><i class="far fa-play-circle"></i
                        ></span>
                        <span>播放</span>
                      </span>
                    </a>
                    <a
                      v-show="tracks && (tracks[5].status == 'play')"
                      @click="pause($event, 5)"
                      class="button is-rounded is-light is-outlined is-success"
                    >
                      <span class="icon-text">
                        <span class="icon"
                          ><i class="far fa-stop-circle"></i
                        ></span>
                        <span>暫停</span>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="box track" v-cloak>
              <div class="columns">
                <div class="column">
                  <p><strong>6.</strong> 噪音振幅 / amplitude of noise</p>
                  <p>04:53 <small>(2304 kbps / 48.00 kHz / 84.6 MB)</small></p>
                </div>
                <div class="column">
                  <div class="buttons is-right">
                    <a
                      href="./album/6. Amplitude of Noise. 噪音振幅.wav"
                      class="button is-rounded is-light is-outlined is-warning"
                      target="_blank"
                    >
                      <span class="icon-text">
                        <span class="icon"
                          ><i class="fas fa-download"></i
                        ></span>
                        <span>下載</span>
                      </span>
                    </a>
                    <a
                      v-if="tracks && (tracks[6].status == 'no')"
                      @click="play($event, 6)"
                      class="button is-rounded is-light is-outlined is-info"
                    >
                      <span class="icon-text">
                        <span class="icon"
                          ><i class="far fa-play-circle"></i
                        ></span>
                        <span>線上播放</span>
                      </span>
                    </a>
                    <a
                      v-show="tracks && (tracks[6].status == 'pause')"
                      @click="play($event, 6)"
                      class="button is-rounded is-light is-outlined is-info"
                    >
                      <span class="icon-text">
                        <span class="icon"
                          ><i class="far fa-play-circle"></i
                        ></span>
                        <span>播放</span>
                      </span>
                    </a>
                    <a
                      v-show="tracks && (tracks[6].status == 'play')"
                      @click="pause($event, 6)"
                      class="button is-rounded is-light is-outlined is-success"
                    >
                      <span class="icon-text">
                        <span class="icon"
                          ><i class="far fa-stop-circle"></i
                        ></span>
                        <span>暫停</span>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="box track" v-cloak>
              <div class="columns">
                <div class="column">
                  <p><strong>7.</strong> 地下管道 / underground water pipe</p>
                  <p>05:00 <small>(2304 kbps / 48.00 kHz / 86.4 MB)</small></p>
                </div>
                <div class="column">
                  <div class="buttons is-right">
                    <a
                      href="./album/7. Underground water pipe. 地下管道.wav"
                      class="button is-rounded is-light is-outlined is-warning"
                      target="_blank"
                    >
                      <span class="icon-text">
                        <span class="icon"
                          ><i class="fas fa-download"></i
                        ></span>
                        <span>下載</span>
                      </span>
                    </a>
                    <a
                      v-if="tracks && (tracks[7].status == 'no')"
                      @click="play($event, 7)"
                      class="button is-rounded is-light is-outlined is-info"
                    >
                      <span class="icon-text">
                        <span class="icon"
                          ><i class="far fa-play-circle"></i
                        ></span>
                        <span>線上播放</span>
                      </span>
                    </a>
                    <a
                      v-show="tracks && (tracks[7].status == 'pause')"
                      @click="play($event, 7)"
                      class="button is-rounded is-light is-outlined is-info"
                    >
                      <span class="icon-text">
                        <span class="icon"
                          ><i class="far fa-play-circle"></i
                        ></span>
                        <span>播放</span>
                      </span>
                    </a>
                    <a
                      v-show="tracks && (tracks[7].status == 'play')"
                      @click="pause($event, 7)"
                      class="button is-rounded is-light is-outlined is-success"
                    >
                      <span class="icon-text">
                        <span class="icon"
                          ><i class="far fa-stop-circle"></i
                        ></span>
                        <span>暫停</span>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="box track" v-cloak>
              <div class="columns">
                <div class="column">
                  <p><strong>8.</strong> 人類廢墟 / human ruins</p>
                  <p>05:00 <small>(2304 kbps / 48.00 kHz / 86.4 MB)</small></p>
                </div>
                <div class="column">
                  <div class="buttons is-right">
                    <a
                      href="./album/8. human ruins. 人類廢墟.wav"
                      class="button is-rounded is-light is-outlined is-warning"
                      target="_blank"
                    >
                      <span class="icon-text">
                        <span class="icon"
                          ><i class="fas fa-download"></i
                        ></span>
                        <span>下載</span>
                      </span>
                    </a>
                    <a
                      v-if="tracks && (tracks[8].status == 'no')"
                      @click="play($event, 8)"
                      class="button is-rounded is-light is-outlined is-info"
                    >
                      <span class="icon-text">
                        <span class="icon"
                          ><i class="far fa-play-circle"></i
                        ></span>
                        <span>線上播放</span>
                      </span>
                    </a>
                    <a
                      v-show="tracks && (tracks[8].status == 'pause')"
                      @click="play($event, 8)"
                      class="button is-rounded is-light is-outlined is-info"
                    >
                      <span class="icon-text">
                        <span class="icon"
                          ><i class="far fa-play-circle"></i
                        ></span>
                        <span>播放</span>
                      </span>
                    </a>
                    <a
                      v-show="tracks && (tracks[8].status == 'play')"
                      @click="pause($event, 8)"
                      class="button is-rounded is-light is-outlined is-success"
                    >
                      <span class="icon-text">
                        <span class="icon"
                          ><i class="far fa-stop-circle"></i
                        ></span>
                        <span>暫停</span>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="box track">
              <div class="columns">
                <div class="column">
                  <p>其他平台</p>
                </div>
                <div class="column">
                  <div class="buttons is-right">
                    <a
                      href="https://www.youtube.com/playlist?list=PLFuYOsppHDrlAZhOyeqC7cOaKT3MKkbBo"
                      class="button is-rounded is-light is-outlined is-danger"
                      target="_blank"
                    >
                      <span class="icon-text">
                        <span class="icon"><i class="fab fa-youtube"></i></span>
                        <span>YouTube</span>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div style="text-align: center">
              <span class="icon" style="color: #ffffff"
                ><i class="fas fa-music" style="margin-right: 5px"></i
                ><i
                  class="fab fa-creative-commons"
                  style="margin-right: 5px"
                ></i>
                <i class="fab fa-creative-commons-by"></i
              ></span>
            </div>
            <div class="desc_content" style="margin: 12px auto">
              <p style="margin-bottom: 10px">
                <strong><u>授權可使用的素材</u></strong>
              </p>
              <ol style="margin-left: 1rem; margin-bottom: 10px">
                <li>專輯所有曲目。</li>
                <li>專輯封面。</li>
              </ol>
              <p style="margin-bottom: 10px">
                我們鼓勵您重新混音與剪輯影像、與朋友分享，或發布到您的部落格和
                Podcast，將音樂與影像傳遞給更多人。透過分享，讓作品啟發更多人，激盪出創作靈感的火花，共同為世界注入無限創意。
              </p>
              <p style="margin-bottom: 10px">
                We encourage you to remix the music and re-edit the videos,
                share them with your friends, post them on your blog, or feature
                them on your podcast. The intention behind this artwork is to
                spark creativity and inspire new ideas among people around the
                world.
              </p>
              <div class="columns">
                <div class="column">
                  <p>
                    <strong><u>專輯發行資訊</u></strong>
                  </p>
                  <ol style="margin-left: 1rem; margin-bottom: 10px">
                    <li>製作人：林強、Luca Bonaccorsi</li>
                    <li>錄音、混音、母帶後期處理：林強</li>
                    <li>編曲：林強</li>
                    <li>執行製作：劉韋巖</li>
                    <li>黑膠唱片製作管理：造次音樂 / 林查拉</li>
                    <li>創作發想：林強、Luca Bonaccorsi</li>
                    <li>裝幀設計：Luca Bonaccorsi</li>
                    <li>發行：財團法人開放文化基金會</li>
                  </ol>
                </div>
                <div class="column">
                  <p>
                    <strong><u>Album Release Information</u></strong>
                  </p>
                  <ol style="margin-left: 1rem; margin-bottom: 10px">
                    <li>Producers/ Lim Giong, Luca Bonaccorsi</li>
                    <li>Recording, Mixing & Mastering Engineer/ Lim Giong</li>
                    <li>Arranged by/ Lim Giong</li>
                    <li>Executive Producer/ William Liu</li>
                    <li>
                      Vinyl Record Production Management/ Side Project Music,
                      Tzara Lin
                    </li>
                    <li>Concept by/ Lim Giong, Luca Bonaccorsi</li>
                    <li>Album Design/ Luca Bonaccorsi</li>
                    <li>Published by/ Open Culture Foundation</li>
                  </ol>
                </div>
              </div>
            </div>
            <div style="text-align: center">
              <span class="icon" style="color: #ffffff"
                ><i class="fas fa-compact-disc" style="margin-right: 5px"></i
                ><i
                  class="fab fa-creative-commons"
                  style="margin-right: 5px"
                ></i>
                <i class="fab fa-creative-commons-by"></i
              ></span>
            </div>
            <div class="desc_content" style="margin: 12px auto">
              <p style="margin-bottom: 10px">
                <strong><u>其他可使用的素材</u></strong>
              </p>
              <details>
                <summary>專輯封面（正反面合併）</summary>
                <div>
                  <ol>
                    <li>
                      <a
                        href="./album/bioerosion thanks card definitive edition.ai"
                        target="_blank"
                        >bioerosion thanks card definitive edition.ai</a
                      >
                    </li>
                    <li>
                      <a href="./album/vinyl outside.jpg" target="_blank"
                        >vinyl outside.jpg</a
                      >
                    </li>
                    <li>
                      <a href="./album/vinyl outside.pdf" target="_blank"
                        >vinyl outside.pdf</a
                      >
                    </li>
                    <li>
                      <a href="./album/vinyl poster inside.jpg" target="_blank"
                        >vinyl poster inside.jpg</a
                      >
                    </li>
                    <li>
                      <a href="./album/vinyl poster inside.pdf"
                        >vinyl poster inside.pdf</a
                      >
                    </li>
                  </ol>
                </div>
              </details>
              <details>
                <summary>專輯封面（正反面方形）</summary>
                <div>
                  <ol>
                    <li>
                      <a
                        href="./album/vinil outside for pdf-01.jpg"
                        target="_blank"
                        >vinil outside for pdf-01.jpg</a
                      >
                    </li>
                    <li>
                      <a
                        href="./album/vinil outside for pdf back.pdf"
                        target="_blank"
                        >vinil outside for pdf back.pdf</a
                      >
                    </li>
                    <li>
                      <a
                        href="./album/vinil outside for pdf back-01.jpg"
                        target="_blank"
                        >vinil outside for pdf back-01.jpg</a
                      >
                    </li>
                    <li>
                      <a
                        href="./album/vinil outside for pdf front.pdf"
                        target="_blank"
                        >vinil outside for pdf front.pdf</a
                      >
                    </li>
                  </ol>
                </div>
              </details>
              <details>
                <summary>現場演出剪輯</summary>
                <div>
                  <figure class="image is-16by9">
                    <iframe
                      class="has-ratio"
                      width="640"
                      height="360"
                      src="https://www.youtube.com/embed/dS1ce9cj36s"
                      frameborder="0"
                      allowfullscreen
                    ></iframe>
                  </figure>
                </div>
              </details>
            </div>
            <div style="text-align: center">
              <span class="icon" style="color: #ffffff"
                ><i class="fas fa-question"></i
              ></span>
            </div>
            <div class="desc_content" style="margin: 12px auto">
              <p style="margin-bottom: 10px">
                <strong><u>何謂創用 CC？</u></strong>
              </p>
              <p>
                創用 CC 是 Creative Commons
                的縮寫，是一套授權條款，為創作者提供一種簡單的方式來授權他們的作品給大眾使用。這些授權條款允許創作者指定哪些使用方式是允許的，例如是否可以進行商業用途、是否可以修改作品等。創用
                CC
                的主要目的是促進知識共享和創意發展，讓更多人能夠合法地使用、分享和改作其他人的創作。創用
                CC
                授權條款通常以不同組合出現，例如：姓名標示（BY）、非商業性（NC）、相同方式分享（SA）等。
              </p>
            </div>
            <div class="desc_content" style="margin: 12px auto">
              <p style="margin-bottom: 10px">
                <strong><u>什麼是開源祭？</u></strong>
              </p>
              <p>
                開源祭活動是一個融合音樂與科技藝術的盛會，已在 2024/09/14
                舉辦，我們邀請到林強、百合花、PUZZLEMAN、拷秋勤等知名音樂人進行精彩的表演，同時舉辦開放文化基金會十週年特展和主題講座。
              </p>
              <p>
                了解更多關於十週年開源祭活動，可參考<a
                  style="color: #bbc3ff"
                  href="./archive_index.html"
                  target="_blank"
                  >活動頁面</a
                >。
              </p>
            </div>
            <div class="desc_content" style="margin: 12px auto">
              <p style="margin-bottom: 10px">
                <strong><u>什麼是開放文化基金會？</u></strong>
              </p>
              <p>
                開放文化基金會（OCF）是一個非營利性組織，致力於與科技社群和公民夥伴合作，推動臺灣的數位、網路環境更加開放、透明，並促進公眾參與，以實現數位人權的保障。自
                2014
                年成立以來，我們一直堅持這一使命，以孕育一個充滿活力的開源生態系為目標，我們向公民社會推廣，同時也對政府倡議、與國際交流以推動開源文化的普及與實踐。
              </p>
              <p>
                了解更多關於我們的努力與執行的專案，歡迎前往<a
                  style="color: #bbc3ff"
                  href="https://ocf.tw/"
                  target="_blank"
                  >開放文化基金會網站</a
                >。
              </p>
            </div>
          </div>
          <div class="column is-3"></div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <a href="https://ocf.tw/" target="_blank">
            <img class="logo" src="/img/ocf_logo_white.svg" />
          </a>
        </p>
        <p>財團法人開放文化基金會<br />Open Culture Foundation</p>
      </div>
    </footer>
    <script src="/js/all.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-X3DG2E5E3W"
    ></script>
    <script>
      const { createApp, ref, reactive } = Vue;

      const tracks = reactive([
        {},
        {
          src: "./album/1. Plants breaking through concrete. 破裂水泥牆的植物.wav",
          audio: null,
          status: "no",
        },
        {
          src: "./album/2. Liquid metal. 液態金屬.wav",
          audio: null,
          status: "no",
        },
        {
          src: "./album/3. Hydraulics.液壓.wav",
          audio: null,
          status: "no",
        },
        {
          src: "./album/4. OH－  H+.  水分子.wav",
          audio: null,
          status: "no",
        },
        {
          src: "./album/5. Steam engine. 蒸氣機.wav",
          audio: null,
          status: "no",
        },
        {
          src: "./album/6. Amplitude of Noise. 噪音振幅.wav",
          audio: null,
          status: "no",
        },
        {
          src: "./album/7. Underground water pipe. 地下管道.wav",
          audio: null,
          status: "no",
        },
        {
          src: "./album/8. human ruins. 人類廢墟.wav",
          audio: null,
          status: "no",
        },
      ]);

      function allstop() {
        tracks.forEach((track) => {
          if (track && track.audio && track.status == "play") {
            track.audio.pause();
            track.status = "pause";
          }
        });
      }

      let page = createApp({
        setup() {
          return {
            tracks,
          };
        },
        methods: {
          play($event, track) {
            allstop();
            if (tracks[track].audio === null) {
              tracks[track].audio = new Audio(tracks[track].src);
            }
            let audio = tracks[track].audio;
            audio.play();
            tracks[track].status = "play";
          },
          pause($event, track) {
            let audio = tracks[track].audio;
            audio.pause();
            tracks[track].status = "pause";
          },
        },
      }).mount("#app");
    </script>

    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-X3DG2E5E3W");
    </script>
  </body>
</html>
