@import "./variables";

html {
  /* 溢出時顯示滾動條 */
  overflow: scroll;
  /* 隱藏滾動條 */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 11 */
}

/* WebKit 瀏覽器 (例如 Chrome 和 Safari) */
html::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  height: 100%;
  width: calc(100vw + 18px);
  overflow: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
}

.first-part {
  display: flex;
  flex-direction: column;
  background-image: url(../media/img/KeyVision_v1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  justify-content: space-between;
  content-visibility: auto;

  @include px768 {
    height: 65vh;
    background-size: 100% 100%;
  }
}

.first-part::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100vw + 18px);
  height: 100%;
  // background-color: rgba(255, 255, 255, 0.3);
  // backdrop-filter: blur(4px);
  // backdrop-filter: opacity(60%);

  @include px768 {
    height: 65%;
  }
}

.header {
  width: 100%;
  position: absolute;
  height: 10vh;
}

.header {
  z-index: 1;
}

.logo {
  height: 2rem;
  width: 100px;
  position: relative;
  top: 2rem;
  left: 2rem;
}

.main-group-1 {
  display: flex;
  // padding-top: 1rem;

  h2 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-family: ChiroHeiHK_SB;

    @include px768 {
      font-size: 2.5rem;
    }
  }

  p {
    font-size: 1.5rem;
    line-height: 1.6;
    padding: 0 3rem;
    font-family: ChiroHeiHK_M;
    letter-spacing: 0.25rem;
  }

  @include px820 {
    width: 100%;
  }
}

.main-group-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-btn {
  border-radius: 60px;
  padding: 0.3rem 0.9rem;
  position: absolute;
  top: 2rem;
  right: 2rem;

  background-color: transparent;
  background-color: $color-5;
  border: none;
  cursor: pointer;
  font-family: ChiroHeiHK_SB;
  font-size: 1.5rem;
  transition: opacity 0.3s ease-in;
  opacity: 0.7;
  a {
    color: $color-4;
    text-decoration: none;
  }

  a:link,
  a:visited,
  a:active {
    text-decoration: none;
  }
}
button:hover {
  opacity: 1;
}

.btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 2rem;

  @include px820 {
    padding: 1rem 0;
  }
  // position: absolute;
  // top: 5%;

  button {
    border-radius: 60px;
    padding: 0.6em 1.8em;
    background-color: transparent;
    background-color: $color-5;
    border: none;
    cursor: pointer;
    font-family: ChiroHeiHK_SB;
    font-size: 1.5rem;
    transition: opacity 0.3s ease-in;
    opacity: 0.7;
    a {
      color: $color-4;
      text-decoration: none;
    }

    a:link,
    a:visited,
    a:active {
      text-decoration: none;
    }
  }
  button:hover {
    opacity: 1;
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  // position: relative;

  background-color: $color-7;
  // padding-top: 1.5rem;
  width: 100vw;
  height: 100vh;
  @include px820 {
    height: fit-content;
    width: 100%;
  }
}

.content-2 {
  width: 100%;
  height: 100vh;
  display: flex;
  // padding: 1.5rem 0;
  // justify-content: space-around;

  @include px820 {
    height: 90vh;
    flex-direction: column;
    justify-content: unset;
  }
}

.swiper-group {
  width: 50%;
  margin: auto 0;

  @include px820 {
    width: 100%;
    margin: 0;
    // margin: 1rem 0;
  }

  @include px768 {
    width: 100%;
    justify-content: unset;
    align-items: unset;
    // margin: 1.5rem 0;
  }
}

.text-area {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include px820 {
    display: block;
    width: 100%;
    height: 45vh;
  }

  @include px768 {
    display: block;
    width: 100%;
    height: 45vh;
  }

  p {
    font-size: 1.5rem;
    line-height: 1.6;
    padding: 0 3rem;
    font-family: ChiroHeiHK_M;
    letter-spacing: 0.25rem;
    word-wrap: break-word;
  }
}

.swiper-img {
  width: 100%;
  height: 80vh;
  border-radius: 10px;
  // border-radius: 40px;

  @include px820 {
    width: 100%;
    height: 45vh;
  }
}

.flicke-img {
  width: 100%;
  height: 100vh;
  // border-radius: 40px;

  @include px820 {
    width: 100%;
    height: 45vh;
  }
}

.bottom {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  // padding: 2rem 0;
  background-color: $color-7;

  @include px820 {
    // height: fit-content;
    flex-direction: column;
    height: 60vh;
    width: 100%;
  }

  img {
    width: 50vw;

    height: 60vh;
    cursor: pointer;

    @include px820 {
      width: 100%;
      height: 45vh;
    }
  }

  p {
    font-size: 1.5rem;
    line-height: 1.6;
    padding: 0 3rem;
    font-family: ChiroHeiHK_M;
    letter-spacing: 0.25rem;
    word-wrap: break-word;
    margin: 2rem 0;
    width: 80%;

    @include px768 {
      padding: 0;
    }
  }
}

// .flickr {
//   width: 80vw;
//   height: 60px;

//   @include px820 {
//     width: 100vw;
//   }
// }

video {
  border-radius: 50px;
}
