@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
@font-face {
  font-family: ChiroHeiHK_SB;
  src: url(../media/text/ChironHeiHK-SB.ttf);
}
@font-face {
  font-family: ChiroHeiHK_M;
  src: url(../media/text/ChironHeiHK-M.ttf);
}
@font-face {
  font-family: ChiroHeiHk_L;
  src: url(../media/text/ChironHeiHK-L.ttf);
}
html {
  /* 溢出時顯示滾動條 */
  overflow: scroll;
  /* 隱藏滾動條 */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 11 */
}

/* WebKit 瀏覽器 (例如 Chrome 和 Safari) */
html::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  height: 100%;
  width: calc(100vw + 18px);
  overflow: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
}

.first-part {
  display: flex;
  flex-direction: column;
  background-image: url(../media/img/KeyVision_v1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  justify-content: space-between;
  content-visibility: auto;
}
@media (max-width: 768px) {
  .first-part {
    background-size: 100% 100%;
    height: 55vh;
  }
}

.header {
  width: 100%;
  position: absolute;
  height: 10vh;
}

.header {
  z-index: 1;
}

.logo {
  height: 2rem;
  width: 100px;
  position: relative;
  top: 2rem;
  left: 2rem;
}

.main-group-1 {
  display: flex;
}
.main-group-1 h2 {
  font-size: 4rem;
  margin-bottom: 1rem;
  font-family: ChiroHeiHK_SB;
}
@media (max-width: 768px) {
  .main-group-1 h2 {
    font-size: 2.5rem;
  }
}
.main-group-1 p {
  font-size: 1.5rem;
  line-height: 1.6;
  padding: 0 3rem;
  font-family: ChiroHeiHK_M;
  letter-spacing: 0.25rem;
}
@media (max-width: 820px) {
  .main-group-1 {
    width: 100%;
  }
}

.main-group-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-btn {
  border-radius: 60px;
  padding: 0.3rem 0.9rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  background-color: transparent;
  background-color: #0091da;
  border: none;
  cursor: pointer;
  font-family: ChiroHeiHK_SB;
  font-size: 1.5rem;
  transition: opacity 0.3s ease-in;
  opacity: 0.7;
}
.header-btn a {
  color: #ffffff;
  text-decoration: none;
}
.header-btn a:link,
.header-btn a:visited,
.header-btn a:active {
  text-decoration: none;
}

button:hover {
  opacity: 1;
}

.btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 2rem;
}
@media (max-width: 820px) {
  .btn-group {
    padding: 1rem 0;
  }
}
.btn-group button {
  border-radius: 60px;
  padding: 0.6em 1.8em;
  background-color: transparent;
  background-color: #0091da;
  border: none;
  cursor: pointer;
  font-family: ChiroHeiHK_SB;
  font-size: 1.5rem;
  transition: opacity 0.3s ease-in;
  opacity: 0.7;
}
.btn-group button a {
  color: #ffffff;
  text-decoration: none;
}
.btn-group button a:link,
.btn-group button a:visited,
.btn-group button a:active {
  text-decoration: none;
}
.btn-group button:hover {
  opacity: 1;
}

.main-content {
  display: flex;
  flex-direction: column;
  background-color: #413b6b;
  width: 100vw;
  height: 100vh;
}
@media (max-width: 820px) {
  .main-content {
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
  }
}

.content-2 {
  width: 100%;
  height: 100vh;
  display: flex;
}
@media (max-width: 820px) {
  .content-2 {
    height: 90vh;
    flex-direction: column;
    justify-content: unset;
  }
}

.swiper-group {
  width: 50%;
  margin: auto 0;
}
@media (max-width: 820px) {
  .swiper-group {
    width: 100%;
    margin: 0;
  }
}
@media (max-width: 768px) {
  .swiper-group {
    width: 100%;
    justify-content: unset;
    align-items: unset;
  }
}

.text-area {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 820px) {
  .text-area {
    display: block;
    width: 100%;
    height: 45vh;
  }
}
@media (max-width: 768px) {
  .text-area {
    display: block;
    width: 100%;
    height: 45vh;
  }
}
.text-area p {
  font-size: 1.5rem;
  line-height: 1.6;
  padding: 0 3rem;
  font-family: ChiroHeiHK_M;
  letter-spacing: 0.25rem;
  word-wrap: break-word;
}

.swiper-img {
  width: 100%;
  height: 80vh;
  border-radius: 10px;
}
@media (max-width: 820px) {
  .swiper-img {
    width: 100%;
    height: 45vh;
  }
}

.flicke-img {
  width: 100%;
  height: 100vh;
}
@media (max-width: 820px) {
  .flicke-img {
    width: 100%;
    height: 45vh;
  }
}

.bottom {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #413b6b;
}
@media (max-width: 820px) {
  .bottom {
    flex-direction: column;
    height: 90vh;
    width: 100%;
  }
}
.bottom img {
  width: 50vw;
  height: 60vh;
  cursor: pointer;
}
@media (max-width: 820px) {
  .bottom img {
    width: 100%;
    height: 45vh;
  }
}
.bottom p {
  font-size: 1.5rem;
  line-height: 1.6;
  padding: 0 3rem;
  font-family: ChiroHeiHK_M;
  letter-spacing: 0.25rem;
  word-wrap: break-word;
  margin: 2rem 0;
  width: 80%;
}
@media (max-width: 768px) {
  .bottom p {
    padding: 0;
  }
}

video {
  border-radius: 50px;
}/*# sourceMappingURL=mystyle.css.map */